//
   Created by chinna on 13/11/14.

.modal-header.bg-primary
   | Enter Password
   button.close(type='button btn-primary', ng-click='cancel()')
      span(aria-hidden='true') ×
      span.sr-only Close
.modal-body
   form#passwordForm(name='passwordForm', class='form-horizonal', type='form', novalidate)
      .form-group.has-warning
         label.control-label(for='password')
            | Password
            span(class='star-label') *
         div(ng-class="{ 'has-error' : passwordForm.password.$invalid }")
            input#password.form-control(type='password',name='password',ng-model='admin.password',placeholder='Enter Admin Password', required, autofocus)
            small.label.label-danger(ng-show="passwordForm.password.$invalid && passwordForm.password.$dirty") Required password.!
      .form-group
         .alert.alert-danger(ng-show="loginFail")
            i.glyphicon.glyphicon-info-sign
            |   {{ errorMessage }}
.modal-footer
   button.btn.btn-success(type='button', ng-click='ok(admin)')
      i.glyphicon.glyphicon-ok
      |  Yes
   button.btn.btn-danger(type='button', ng-click='cancel()')
      i.glyphicon.glyphicon-remove
      |  No