//
   Created by chinna on 5/8/14.

div(id='loginModal', tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.btn-primary
                h2(class='text-center') SignIn
            .modal-body
                form.white-row(ng-submit='signIn(credentials)',role="form")
                    .row
                        .col-md-12
                            .form-group(ng-class="{'has-error':(error),'has-success':(passwordError)}")
                                label.control-label Username
                                div.input-group
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-user
                                    input#username.form-control(ng-model='credentials.username', name='username', type='text', value='', placeholder='Username', autofocus, required)
                    .row
                        .col-md-12
                            .form-group(ng-class="{'has-error':(passwordError),'has-error':(error)}")
                                label.control-label Password
                                div.input-group
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-lock
                                    input#password.form-control(ng-model='credentials.password', name='password', type='password', value='', placeholder='Password', required)
                    .row
                        .col-md-12
                            .form-group
                                button.btn.btn-info(type='submit', id='btn-signIn', ng-disabled='sighning')
                                    span.glyphicon.glyphicon-log-in
                                    |       SignIn
                    br
                    .row
                        .col-lg-12
                            .form-group
                                .alert.alert-danger(ng-show="loginFail")
                                    span.fa.fa-frown-o
                                    | {{ errorMessage }}

