//
   Created by chinna on 11/8/14.
section.container(ng-if='administrator')
    .col-lg-12
        div
            h2.text-center List of Departments
        div
            .loader-div(ng-show='loading')
                h4 Loading, Please wait...
            .main-div
                .row
                    .col-lg-12
                        button.btn.btn-info.pull-left.input-sm(data-toggle="modal", title='Add New Department',id='btn-newDepartment', data-target="#newDepartmentWindow", ng-click='btnAdd()')
                            i.glyphicon.glyphicon-plus
                            |   Add New
                br
                .table-responsive
                    table#departmentsTable(class="table table-striped table-bordered table-condensed")
                        thead.table-head
                            tr
                                th.smallTd
                                th Id
                                th Code
                                th Department Name
                                th Created Date
                                th Updated Date
                        tbody
                            tr(ng-repeat='dept in departments')
                                td
                                    a.btn.btn-sm.btn-warning(title="Edit", data-toggle="modal",id='btn-editDepartment', data-target="#newDepartmentWindow", ng-click="btnEdit(dept)")
                                        i.glyphicon.glyphicon-edit
                                    a.btn.btn-sm.btn-danger(title="Delete", id='btn-deleteDepartment', data-toggle="modal", data-target="#deleteConfirm", ng-click="deleteConformation(dept)")
                                        i.glyphicon.glyphicon-remove
                                td(ng-bind='dept.id')
                                td(ng-bind='dept._serverData.departmentCode')
                                td(ng-bind='dept._serverData.departmentName')
                                td(ng-bind='dept.createdAt')
                                td(ng-bind='dept.updatedAt')
                    .pull-right
                        button.btn.btn-info.btn-sm#prev(ng-click='pageBack()', ng-disabled='noPrevious')
                            i.glyphicon.glyphicon-arrow-left
                            |       Previous
                        button.btn.btn-info.btn-sm#next(ng-click='pageNext()', ng-disabled='noNext')
                            |       Next
                            |   &nbsp;
                            i.glyphicon.glyphicon-arrow-right
#deleteConfirm.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.bg-danger
                | Delete Confirmation
                button.close(type='button btn-primary', data-dismiss='modal' data-target='.bs-example-modal-lg')
                    span(aria-hidden='true') ×
                    span.sr-only Close
            .modal-body
                | Are you sure to delete <strong> {{ deleteDeptName }} </strong> department?
            .modal-footer
                button.btn.btn-success(type='button', data-dismiss='modal', ng-click="deleteDepartment()" )
                    i.glyphicon.glyphicon-ok
                        |  Yes
                button.btn.btn-danger(type='button', data-dismiss='modal')
                    i.glyphicon.glyphicon-remove
                        |  No

#newDepartmentWindow.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.bg-primary
                | {{ modelTitle }}
                button.close(type='button btn-primary', data-dismiss='modal' data-target='.bs-example-modal-lg')
                    span(aria-hidden='true') ×
                    span.sr-only Close
            .modal-body
                form#addDept(name='createDeptForm', class='form-horizonal', type='form', novalidate)
                    .form-group.has-warning
                        label.control-label(for='deptCode')
                            | Department Code
                            span(class='star-label') *
                        div(ng-class="{ 'has-error' : createDeptForm.deptCode.$invalid }")
                            input#deptCode.form-control(type='text',name='deptCode',ng-model='departmentCode',placeholder='Department Code', required, autofocus)
                            small.label.label-danger(ng-show="createDeptForm.deptCode.$invalid && createDeptForm.deptCode.$dirty") Required Department Code.!

                    .form-group.has-warning
                        label.control-label(for='deptName')
                            | Department Name
                            span(class='star-label') *
                        div(ng-class="{ 'has-error' : createDeptForm.deptName.$invalid }")
                            input.deptName.form-control(type='text', name='deptName', ng-model='departmentName', placeholder='Department Name', required)
                            small.label.label-danger(ng-show='createDeptForm.deptName.$invalid && createDeptForm.deptName.$dirty') Required Department Name.!
            .modal-footer
                button.btn.btn-success.btn-sm(ng-click="addEditClick()", ng-disabled='createDeptForm.$invalid', id='btnAdd', data-dismiss='modal')
                    i.glyphicon.glyphicon-ok
                    |   {{ buttonText }}
                button.btn.btn-warning.btn-sm(data-dismiss='modal')
                    i.glyphicon.glyphicon-remove
                    |   Close
