//
   Created by chinna on 30/9/14.

section.container
    .row
        .col-lg-12
            .panel.panel-primary
                .panel-heading Sent Messages
                .panel-body
                    .loader-div(ng-show='loading')
                        h4 Loading, Please wait...
                    .main-div
                        .pull-right
                            input.input-sm(type="search", ng-model="searchKey", placeholder="enter mobile number", title='enter mobile number to search here.')
                            a.btn.btn-sm.btn-warning(ng-click='searchResult()')
                                i.glyphicon.glyphicon-search
                                |   Search
                        br
                        br
                        .table-responsive
                            table#messagesTable(class="table table-striped table-bordered table-condensed")
                                thead
                                    tr
                                        th.smallTd #
                                        th To
                                        th Message
                                        th Date
                                tbody
                                    tr(ng-repeat='msg in messages')
                                        td
                                            a.btn.btn-danger.pull-left.btn-sm(title='Delete', data-toggle="modal", data-target="#deleteConfirm", ng-click="deleteConformation(msg)")
                                                i.glyphicon.glyphicon-remove

                                        td
                                            span {{ msg._serverData.mobileNumber }}
                                        td
                                            span {{ msg._serverData.text }}
                                        td
                                            span {{ msg.createdAt }}
                            .pull-right
                                button.btn.btn-info.btn-sm#prev(ng-click='pageBack()', ng-disabled='noPrevious')
                                    i.glyphicon.glyphicon-arrow-left
                                    |   Previous
                                button.btn.btn-info.btn-sm#next(ng-click='pageNext()', ng-disabled='noNext')
                                    |   Next
                                    | &nbsp;
                                    i.glyphicon.glyphicon-arrow-right

#deleteConfirm.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.bg-danger
                | Delete Confirmation
                button.close(type='button btn-primary', data-dismiss='modal' data-target='.bs-example-modal-lg')
                    span(aria-hidden='true') ×
                    span.sr-only Close
            .modal-body
                | Are you sure to delete selected message?
            .modal-footer
                button.btn.btn-success(type='button', data-dismiss='modal', ng-click="deleteMessage()" )
                    i.glyphicon.glyphicon-ok
                        |  Yes
                button.btn.btn-danger(type='button', data-dismiss='modal')
                    i.glyphicon.glyphicon-remove
                        |  No
