//
   Created by chinna on 23/9/14.

section.container(ng-if='administrator')
    .col-lg-12
        div
            h2.text-center List of Wards
        div
            .loader-div(ng-show='loading')
                h4 Loading, Please wait...
            .main-div
                .row
                    .col-lg-12
                        button.btn.btn-info.pull-left.input-sm(data-toggle="modal", title='Add New Ward',id='btn-newWard', data-target="#newWardWindow", ng-click='btnAdd()')
                            span.glyphicon.glyphicon-plus
                            |   Add New
                br
                .table-responsive
                    table#wardsTable(class="table table-striped table-bordered table-condensed")
                        thead.table-head
                            tr
                                th.smallTd
                                th Ward Id
                                th Ward Name
                                th Created Date
                                th Updated Date
                        tbody
                            tr(ng-repeat='ward in wards')
                                td
                                    a.btn.btn-sm.btn-warning(href="",title="Edit", data-toggle="modal",id='btn-editWard', data-target="#newWardWindow", ng-click="btnEdit(ward)")
                                        span.glyphicon.glyphicon-edit
                                    a.btn.btn-sm.btn-danger(href="",title="Delete", id='btn-deleteWard', data-toggle="modal", data-target="#deleteConfirm", ng-click="deleteConformation(ward)")
                                        span.glyphicon.glyphicon-remove
                                td
                                    | {{ ward.id }}
                                td
                                    | {{ ward._serverData.wardName }}
                                td
                                    | {{ ward.createdAt }}
                                td
                                    | {{ ward.updatedAt }}
                    .pull-right
                        button.btn.btn-info.btn-sm#prev(ng-click='pageBack()', ng-disabled='noPrevious')
                            span.glyphicon.glyphicon-arrow-left
                            |   Previous
                        button.btn.btn-info.btn-sm#next(ng-click='pageNext()', ng-disabled='noNext')
                            |   Next
                            | &nbsp;
                            span.glyphicon.glyphicon-arrow-right


#deleteConfirm.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.bg-danger
                | Delete Confirmation
                button.close(type='button btn-primary', data-dismiss='modal' data-target='.bs-example-modal-lg')
                    span(aria-hidden='true') ×
                    span.sr-only Close
            .modal-body
                | Are you sure to delete <strong> {{ deleteWardName }} </strong> Ward?
            .modal-footer
                button.btn.btn-success(type='button', data-dismiss='modal', ng-click="deleteWard()" )
                    span.glyphicon.glyphicon-ok
                        |  Yes
                button.btn.btn-danger(type='button', data-dismiss='modal')
                    span.glyphicon.glyphicon-remove
                        |  No

#newWardWindow.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header.bg-primary
                | {{ modelTitle }}
                button.close(type='button btn-primary', data-dismiss='modal' data-target='.bs-example-modal-lg')
                    span(aria-hidden='true') ×
                    span.sr-only Close
            .modal-body
                form#wardsForm(name='wardsForm',class='form-horizonal',type='form',novalidate)
                    .form-group.has-warning
                        label.control-label(for='wardName')
                            | Ward Name
                            span(class='star-label') *
                        div
                            input#wardName.form-control(type='text',name='wardName',ng-model='wardName', placeholder='Ward Name', required)
                            small(class="label label-danger",ng-show="wardsForm.wardName.$invalid && wardsForm.wardName.$dirty")
            .modal-footer
                button.btn.btn-success.btn-sm(ng-click="addEditClick()", ng-disabled='wardsForm.$invalid', id='btnAdd', data-dismiss='modal')
                    span.glyphicon.glyphicon-ok
                    |   {{ buttonText }}
                button.btn.btn-warning.btn-sm(data-dismiss='modal')
                    span.glyphicon.glyphicon-remove
                    |   Close
